.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    font-family: Arial, Helvetica, sans-serif;
}

.comments__list {
    width: 1000px;
    /* height: 700px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.comments__column {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: baseline;
}

.comments__input {
    width: 500px;
    height: 100px;
    border: 1px solid rgb(255, 221, 109);
    font-family: Arial, Helvetica, sans-serif;
}

.comments__input_small {
    width: 500px;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid rgb(255, 221, 109);
    font-family: Arial, Helvetica, sans-serif;
}

.comments__button {
    width: 500px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    background-color: rgb(255, 221, 109);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.comments__button_small {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    background-color: rgb(255, 221, 109);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.photo {
    width: 70px;
    height: 90px;
}